<% layout("./boilerPlate/base.ejs") %>

<div class="login-form">
    <h1 class="login-text">Login user</h1>
    <form method="POST" action="/user/login">

        <label style="font-weight: 500; font-size: 1.3rem;">Email </label><br>
        <input type="text" name="email" placeholder="Enter Email" class="email-field" required><br><br>
        <label style="font-weight: 500; font-size: 1.3rem;">Password </label><br>
        <input type="password" name="password" placeholder="Enter Password" class="password-field" required><br><br>
        <div class="lg-btn">
        <button type="submit" class="login-btn">Login</button>
        
    </div>
    <div class="d-flex justify-content-center mt-3">
    <% if(error){%>
        <p style="color: red; font-size: 1.2rem; font-weight:600;"><%= error %></p>
        <%}%>
    </div>
    </form>
   
</div>
